/* general */
body {
  background-color: black;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* navbar */

.menu {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: rgba(53, 51, 51, 0.5);
}

#links {
  display: flex;
}

.link {
  list-style: none;
  padding: 50px;
}

.link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

/*BOUTON ACCESS CONFIG*/
#access-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

button {
  padding: 5px;
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  color: rgb(247, 243, 7);
  background-color: rgb(19, 10, 104);
}

/*INTRODUCTION*/
.names {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

#text-home {
  display: flex;
  flex-direction: column;
}

.text-h {
  color: white;
  font-size: 1em;
  margin: 10px;
  text-align: center;
}

.picture {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pic {
  width: 150px;
  border-radius: 50%;
}

/*WEB*/
#web {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title,
.title-bar {
  color: white;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  text-align: center;
  letter-spacing: 0.5em;
}

.title-bar {
  margin-top: -15px;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.project {
  width: 200px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(10px, 10px);
  filter: brightness(0.4); /*assombrir ou éclaircir*/
}

.project:hover {
  transform: translateY(0.3px);
  transition: 0.5s;
  box-shadow: 0 0 20px rgba(199, 190, 190, 0.2);
}

.project-description {
  color: white;
  position: relative;
  bottom: 135px;
  left: 25px;
  text-shadow: 3em;
  -webkit-text-stroke: 0.5px rgb(12, 12, 12); /*contours de texte*/
  font-weight: bolder;
  font-size: larger;
}

.project-description2 {
  color: white;
  position: relative;
  bottom: 155px;
  left: 10px;
  text-shadow: 3em;
  -webkit-text-stroke: 0.5px rgb(12, 12, 12); /*contours de texte*/
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}

/*ABOUT*/
#pixelart {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 5px;
  filter: brightness(0.8);
}

/*TIMELINE*/

.timeline-title {
  margin-top: 85px;
  margin-bottom: 60px;
}
.timeline {
  width: 300px;
  margin: auto;
}
.try {
  border-top: 2px dashed;
  border-color: rgb(227, 227, 230) !important;
  margin:0; padding: 30px;
}
.try:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}
.try:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}
.try:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
.try:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
