/* general */
body {
  background-color: black;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* navbar */

.menu {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: rgba(53, 51, 51, 0.5);
}

#links {
  display: flex;
}

.link {
  list-style: none;
  padding: 50px;
}

.link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}


/*INTRODUCTION*/
.names {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

#text-home {
  display: flex;
  flex-direction: column;
}


.text-h {
  color: white;
  font-size: 1em;
  margin: 10px;
  text-align: center;
}

.picture {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pic {
  width: 150px;
  border-radius: 50%;
}

/*WEB*/
#web {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title, .title-bar {
  color: white;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  text-align: center;
  letter-spacing: 0.5em;
}

.title-bar {
  margin-top: -15px;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: space-around;
}

.project {
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  transform: translate(10px, 10px);
  filter: brightness(0.8); /*assombrir ou éclaircir*/
}


.project:hover {
  transform: translateY(0.3px);
  transition: 0.5s;
  box-shadow: 0 0 20px rgba(199, 190, 190, 0.2);
}

.project-description {
  color: white;
  position: relative;
  bottom: 100px;
  left: 55px;
}
